﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Registro.Tiposregistro.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProyectosZec.Registro.TiposregistroGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>