.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.s-Nuevo_Roezec-CapitalDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-CapitalDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-ContactosDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-ContactosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EstadosEmpresaDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-EstadosEmpresaDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-FormasJuridicasDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-FormasJuridicasDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-IslasDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-IslasDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-NacesDialog > .size {
  width: 750px;
}
.s-Nuevo_Roezec-NacesDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-PaisesDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-PaisesDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-SectoresDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-SectoresDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-SubsectoresDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-SubsectoresDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TecnicosDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TecnicosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TipologiasCapitalDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TipologiasCapitalDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TiposAccionesPromocionalesDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TiposAccionesPromocionalesDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TiposContactoDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TiposContactoDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TiposGarantiaTasasDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TiposGarantiaTasasDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-ProcedimientosDialog > .size {
  width: 750px;
}
.s-Nuevo_Roezec-ProcedimientosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-ContinentesDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-ContinentesDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasContactosDialog > .size {
  width: 650px;
  height: 400px;
}
.s-Nuevo_Roezec-EmpresasContactosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasNaceDialog > .size {
  width: 750px;
  height: 400px;
}
.s-Nuevo_Roezec-EmpresasNaceDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-HistorialEmpresasDialog > .size {
  width: 850px;
  height: 650px;
}
.s-Nuevo_Roezec-HistorialEmpresasDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasDialog > .size {
  width: 950px;
  height: 650px;
}
.s-Nuevo_Roezec-EmpresasDialog .caption {
  width: 120px;
}
.s-Nuevo_Roezec-EmpresasDialog .grid-container {
  min-height: 650px;
}
.s-Nuevo_Roezec-EmpresasDialog .s-PropertyGrid .categories {
  height: 520px;
}
.s-Nuevo_Roezec-IdiomasDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-IdiomasDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-HistorialEmpresasEditDialog > .size {
  width: 950px;
  height: 650px;
}
.s-Nuevo_Roezec-HistorialEmpresasEditDialog .caption {
  width: 120px;
}
.s-Nuevo_Roezec-HistorialEmpresasEditDialog .grid-container {
  min-height: 400px;
}
.s-Nuevo_Roezec-HistorialEmpresasEditDialog .s-PropertyGrid .categories {
  height: 650px;
}
s-Nuevo_Roezec-HistorialEmpresasDialog.s-Panel {
  min-height: 650px;
}
s-Nuevo_Roezec-HistorialEmpresasDialog.s-Panel .categories {
  height: 650px;
  width: 800px;
}
s-Nuevo_Roezec-HistorialEmpresasDialog.s-Panel .grid-container {
  min-height: 400px;
}
s-Nuevo_Roezec-EmpresasDialog.s-Panel {
  min-height: 650px;
}
s-Nuevo_Roezec-EmpresasDialog.s-Panel .categories {
  height: auto;
}
s-Nuevo_Roezec-EmpresasDialog.s-Panel .grid-container {
  min-height: 500px;
}
.s-Nuevo_Roezec-HistorialDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-HistorialDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-FormasEnvioDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-FormasEnvioDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TiposEnvioDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TiposEnvioDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EstadosEnvioDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-EstadosEnvioDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EnviosDialog > .size {
  width: 750px;
}
.s-Nuevo_Roezec-EnviosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EnviosProcedimientoDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-EnviosProcedimientoDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-ProcedenciaCapitalDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-ProcedenciaCapitalDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-MercadosDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-MercadosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasMercadosDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-EmpresasMercadosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasContactosReadOnlyDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-EmpresasContactosReadOnlyDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-MercadosReadOnlyDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-MercadosReadOnlyDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-FicherosDialog > .size {
  width: 650px;
  height: 400px;
}
.s-Nuevo_Roezec-FicherosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TiposDocumentoDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TiposDocumentoDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-FicherosEditDialog > .size {
  width: 600px;
  height: 400px;
}
.s-Nuevo_Roezec-FicherosEditDialog .caption {
  width: 120px;
}
.s-Nuevo_Roezec-FicherosEditDialog .s-PropertyGrid .categories {
  height: 520px;
}
.s-Nuevo_Roezec-MetadatosDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-MetadatosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TiposAlarmaDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TiposAlarmaDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-AlarmasDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-AlarmasDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-SentidosresolucionDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-SentidosresolucionDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-PlazosDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-PlazosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasNombresDialog > .size {
  width: 750px;
  height: 400px;
}
.s-Nuevo_Roezec-EmpresasNombresDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-AlarmasprocedimientosDialog > .size {
  width: 750px;
}
.s-Nuevo_Roezec-AlarmasprocedimientosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasDireccionesDialog > .size {
  width: 750px;
  height: 400px;
}
.s-Nuevo_Roezec-EmpresasDireccionesDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasEmpleosDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-EmpresasEmpleosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-EmpresasFicherosDialog > .size {
  width: 650px;
  height: 400px;
}
.s-Nuevo_Roezec-EmpresasFicherosDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TiposDireccionesDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TiposDireccionesDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-TiposPersonaDialog > .size {
  width: 650px;
}
.s-Nuevo_Roezec-TiposPersonaDialog .caption {
  width: 150px;
}
.s-Nuevo_Roezec-AlarmasGrid .discontinued .slick-cell,
.s-Nuevo_Roezec-AlarmasGrid .discontinued .slick-cell a {
  background-color: white;
  color: lightgray;
}
.s-Nuevo_Roezec-AlarmasGrid .out-of-stock .slick-cell,
.s-Nuevo_Roezec-AlarmasGrid .out-of-stock .slick-cell a {
  background-color: #ffaaaa;
}
.s-Nuevo_Roezec-AlarmasGrid .critical-stock {
  background-color: #ffd5c0;
}
.s-Nuevo_Roezec-AlarmasGrid .critical-stock .slick-cell,
.s-Nuevo_Roezec-AlarmasGrid .critical-stock .slick-cell a {
  color: black;
}
