.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.s-Kairos-KrsEmpleadosDialog > .size {
  width: 650px;
}
.s-Kairos-KrsEmpleadosDialog .caption {
  width: 150px;
}
.s-Kairos-FichajesDialog > .size {
  width: 650px;
}
.s-Kairos-FichajesDialog .caption {
  width: 150px;
}
.s-Kairos-SedesDialog > .size {
  width: 650px;
}
.s-Kairos-SedesDialog .caption {
  width: 150px;
}
.s-Kairos-TiposFichajeDialog > .size {
  width: 650px;
}
.s-Kairos-TiposFichajeDialog .caption {
  width: 150px;
}
.s-Kairos-DepartamentosDialog > .size {
  width: 650px;
}
.s-Kairos-DepartamentosDialog .caption {
  width: 150px;
}
.s-Kairos-DiarioDialog > .size {
  width: 650px;
}
.s-Kairos-DiarioDialog .caption {
  width: 150px;
}
.s-Kairos-DiarioGrid .discontinued .slick-cell,
.s-Kairos-DiarioGrid .discontinued .slick-cell a {
  color: lightgray;
}
.s-Kairos-DiarioGrid .out-of-stock .slick-cell,
.s-Kairos-DiarioGrid .out-of-stock .slick-cell a {
  background-color: #ffaaaa;
  color: red;
}
.s-Kairos-DiarioGrid .critical-stock {
  background-color: #ffd5c0;
}
.s-Kairos-DiarioGrid .critical-stock .slick-cell,
.s-Kairos-DiarioGrid .critical-stock .slick-cell a {
  color: black;
}
.s-Kairos-DiarioGrid .much-stock .slick-cell,
.s-Kairos-DiarioGrid .much-stock .slick-cell a {
  font-style: italic;
}
.s-Kairos-DiarioGrid .high-price .col-unit-price {
  background-color: darkorchid;
  color: #fff;
}
.s-Kairos-DiarioGrid .medium-price .col-unit-price {
  background-color: yellow;
  color: #000;
}
.s-Kairos-DiarioGrid .low-price .col-unit-price {
  background-color: mediumseagreen;
  color: #fff;
}
.s-Kairos-HoyGrid .discontinued .slick-cell,
.s-Kairos-HoyGrid .discontinued .slick-cell a {
  color: lightgray;
}
.s-Kairos-HoyGrid .out-of-stock .slick-cell,
.s-Kairos-HoyGrid .out-of-stock .slick-cell a {
  background-color: #ffaaaa;
  color: red;
}
.s-Kairos-HoyGrid .critical-stock {
  background-color: #ffd5c0;
}
.s-Kairos-HoyGrid .critical-stock .slick-cell,
.s-Kairos-HoyGrid .critical-stock .slick-cell a {
  color: black;
}
.s-Kairos-HoyGrid .much-stock .slick-cell,
.s-Kairos-HoyGrid .much-stock .slick-cell a {
  font-style: italic;
}
.s-Kairos-HoyGrid .high-price .col-unit-price {
  background-color: darkorchid;
  color: #fff;
}
.s-Kairos-HoyGrid .medium-price .col-unit-price {
  background-color: yellow;
  color: #000;
}
.s-Kairos-HoyGrid .low-price .col-unit-price {
  background-color: mediumseagreen;
  color: #fff;
}
.s-Kairos-ExtrasGrid .discontinued .slick-cell,
.s-Kairos-ExtrasGrid .discontinued .slick-cell a {
  color: lightgray;
}
.s-Kairos-ExtrasGrid .rechazada .slick-cell,
.s-Kairos-ExtrasGrid .rechazada .slick-cell a {
  background-color: #ffaaaa;
  color: red;
}
.s-Kairos-ExtrasGrid .aceptada .slick-cell,
.s-Kairos-ExtrasGrid .aceptada .slick-cell a {
  background-color: green;
  color: #fff;
}
.s-Kairos-FichajesGrid .discontinued .slick-cell,
.s-Kairos-FichajesGrid .discontinued .slick-cell a {
  color: lightgray;
}
.s-Kairos-FichajesGrid .rechazada .slick-cell,
.s-Kairos-FichajesGrid .rechazada .slick-cell a {
  background-color: #ffaaaa;
  color: red;
}
.s-Kairos-FichajesGrid .aceptada .slick-cell,
.s-Kairos-FichajesGrid .aceptada .slick-cell a {
  background-color: green;
  color: #fff;
}
.s-Kairos-ExtrasDialog > .size {
  width: 800px;
}
.s-Kairos-ExtrasDialog .caption {
  width: 200px;
}
.s-Kairos-EstadosExtrasDialog > .size {
  width: 650px;
}
.s-Kairos-EstadosExtrasDialog .caption {
  width: 150px;
}
.s-Kairos-HorasExtraConsumidasDialog > .size {
  width: 550px;
}
.s-Kairos-HorasExtraConsumidasDialog .caption {
  width: 100px;
}
.s-Kairos-HorasExtraConsumidasEditDialog > .size {
  width: 400px;
}
.s-Kairos-HorasExtraConsumidasEditDialog .caption {
  width: 120px;
}
.s-Kairos-HorasExtraConsumidasEditDialog .s-PropertyGrid .categories {
  height: 120px;
}
.s-Kairos-AusenciasProgramadasDialog > .size {
  width: 650px;
}
.s-Kairos-AusenciasProgramadasDialog .caption {
  width: 150px;
}
.s-Kairos-KrsAusenciasProgramadasTiposDialog > .size {
  width: 650px;
}
.s-Kairos-KrsAusenciasProgramadasTiposDialog .caption {
  width: 150px;
}
.s-Kairos-HorasExtraConsumidasReadOnlyDialog > .size {
  width: 650px;
}
.s-Kairos-HorasExtraConsumidasReadOnlyDialog .caption {
  width: 150px;
}
.s-Kairos-HoyDialog > .size {
  width: 650px;
}
.s-Kairos-HoyDialog .caption {
  width: 150px;
}
