﻿@import "site.mixins.less";


.s-Inmovilizado-ProveedoresDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Inmovilizado-SubtiposinmovilizadoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Inmovilizado-TiposinmovilizadoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Inmovilizado-InmovilizadosDialog {
    > .size {
        width: 750px;
        height: 700px;
    }

    .caption {
        width: 150px;
    }

    .s-InmovilizadoGrid > .grid-container {
        height: 600px;
    }
}
.s-Inmovilizado-InmovilizadosGrid {
    .discontinued .slick-cell, .discontinued .slick-cell a {
        background-color: White;
        color: lightgray;
    }

    .out-of-stock .slick-cell, .out-of-stock .slick-cell a {
        background-color: #ffaaaa;
        color: red;
    }

    .critical-stock {
        background-color: #ffd5c0;

        .slick-cell, .slick-cell a {
            color: black;
        }
    }

    .much-stock {

        .slick-cell, .slick-cell a {
            font-style: italic;
        }
    }

    .high-price .col-unit-price {
        background-color: darkorchid;
        color: #fff;
    }

    .medium-price .col-unit-price {
        background-color: yellow;
        color: #000;
    }

    .low-price .col-unit-price {
        background-color: green;
        color: #fff;
    }
}