﻿@import "site.mixins.less";


.s-Registro-RegistroDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Registro-TiposregistroDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}