﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Roezec.EmpleosSS.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProyectosZec.Roezec.EmpleosSSGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>