﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Roezec.RoezecEmpresasSS.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProyectosZec.Roezec.RoezecEmpresasSSGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>